.sidebar{
    width: 100px;
    height: 100%;
    display: flex;
    background-color: rgb(65, 68, 65);
    border-radius: 10px;
    border: 5px solid rgba(4, 106, 119, 0.322);
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.profile-image{
    height: 50px;
    width: 50px;
    border-radius: 10px;
}